*{
    margin:0;
    padding:0;
}

body{
    color:slategray;
    font-family: Arial;
}

.header{
    position: static;
    height: 100px;
    width:100%;
    text-align: left;
    line-height: 100px;    
    padding-left:30px;
    margin-bottom:20px;
    background-color: slategray ;
    color:white;    

}

.sideBar{
    float:left;
    width:10%;
    padding: 20px;

}

.sideBar ul{
    margin:0;
    padding:0;
    
}

.sideBar ul li{
    margin: 0;
    padding: 0;
    width:100px;    
    line-height:50px;    
    background-color: #fff;
    list-style-type: none;    
    text-align: center;
    margin-bottom: 10px;
}

.sideBar ul li:hover{
    background-color: lightblue;
    -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
    -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.93);
    box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.93);
 
}

.sideBar ul li a:visited{
    color: slategray;
    text-decoration: none;  
       
}

.Main {
    float:left;
    width:70%;
}


h3{
    margin-bottom:4px;
}

/*sheets styling end */

.sheetYield{
    display:flex;   
    padding-top:15px;
    margin-bottom:5px;
}

.sheetYield p {
    padding-right: 5px;
    padding-bottom: 5px;
}

.sheetYield input {
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}

.column5 {
    margin-left:15px;
    
}

.column5 p {
    background-color: lightgray;
    border-width: 1px;
    border-style: solid;
    width:100px;
    text-align: center;
    font-size: 12px;
    color:black;
    border-color: slategrey;
    margin-top:2px;
}


.sheetResults {
    height:40px;
    margin-bottom: 10px;
    font-size: 15px;

}

/* Sheet styling end*/

/* sections styling start*/

.sectionsWrapper {
    display:flex;
    justify-content:flex-start;
    padding-bottom:5px;
    padding-top:10px;

}

.sections p {
    margin-bottom: 5px;
}

.sections input{
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 5px;
    
}

.sections button {
    margin-bottom: 5px;
}

.sections select {
    width:100px; 
    margin-bottom: 5px;   
}

.sectcolumn4 h5 {
    margin-left:20px;
}

.sectcolumn4 p {
    background-color: lightgray;
    border-width: 1px;
    border-style: solid;
    width:100px;
    text-align: center;
    font-size: 12px;
    color:black;
    border-color: slategrey;
    margin-top:2px;
    margin-bottom:0;
    margin-left:20px;
}




